.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shadow-sm1{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,.075)!important;
}
.padding-0{
  padding-left: 0;
  padding-right: 0;
}
.border-post{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
  border: 1px solid #d7d7d7;
}
.image-border{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
  border-radius: 3px;
}
.title-font{
  font-family: 'Gideon Roman', cursive;
  font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    margin: 1em 2em 0.5em 2em;
    text-transform: uppercase;
}
.head-font{
  font-family: 'Philosopher', sans-serif !important;
}

.head-font-size{
  font-size: 2em;
}
.image-center{
  display: grid;
  align-items: center;
  padding: 0.25rem 0.25rem 0.25rem 0.8rem!important;
}
.padding-content{
  padding: 0px 1.3em 0px 0.7em;
}
@media screen and (max-width:1200px) and (min-width:992px){
  .container-responsive{
    max-width: 100%;
  }
}
@media screen and (max-width:992px) and (min-width:720px){
  .container{
    max-width: 830px;
  }
  .container-responsive{
    max-width: 100%;
  }
  .col-9{
    width: 100%;
  }
  .title-font{
    font-size: 1em;
  }
}
@media screen and (max-width:720px){
  .container{
    max-width: 100%;
  }
  .title-font{
    font-size: 0.96em;
    margin: 1em 0.4em 0 0.4em;
  }
  .mb-2{
    font-size: 0.8em;
    display: inline-block!important;
  }
  .w-50{
    width: 95%!important;
  }
  .col-9{
    width: 100%;
  }
  .col-6{
    width: 100%;
    margin-left: 0.5em;
    font-size: 1.1em;
  }
  .head-font-size{
    font-size: 1.6em;
  }
  .mb-5{
    margin-bottom: 1em!important;
  }
}